.carrusel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: proximity;
    width: 100%;
    max-width: 900px;
    padding-top: 20px;
}

.slide {
    flex: 0% 0% 100%; 
    scroll-snap-align: start;
}

.img  {
    max-width: 100%; 
    
    
}

.slide img {
    border: 0.5px solid rgb(161, 85, 9);
    height: 200px;
    width: 200px;
}
