.bienvenidos {
    width: 75%;
    padding-right: 15px;
    box-sizing: border-box;
}

.testimonios {
    width: 25%;
    /*background-color: rgb(231, 174, 120);*/
    padding: 15px;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.testimonio {
    background-color: rgb(231, 174, 120);
    padding: 15px;

}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
    background-color: rgb(238, 142, 52);
}

.testimonio .autor {
    font-weight: bold;
    font-size: 15px;
    display: block;

}