body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  color: rgb(161, 85, 9);
  font-weight: 400;
}

header {
  background-color: rgb(161, 85, 9);
  padding-top: 15px;

}

header h1 {
  color: rgb(231, 174, 120);
  -webkit-text-stroke: 2px rgb(231, 174, 120);
  /* Ajusta el ancho y el color del borde */
  color: transparent;
  /* Hace que el texto interior sea transparente */
  font-size: 60px;
  font-style: italic;
  display: inline-block;
  margin-left: 100px;
  position: relative;
  bottom: 30px;

}

header h5 {
  color: rgb(231, 174, 120);
  font-size: 15px;
  font-style: italic;
  display: inline-block;
  margin: 0px;
}

header img {
  display: inline-block;
  margin: 0;
  border-radius: 50%;
  padding-left: 20px;

}

nav {
  background-color: rgb(231, 174, 120);


}

nav ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  display: flex;
}

nav ul li {
  flex-grow: 1;

}

nav ul li a {
  color: rgb(161, 85, 9);
  text-decoration: solid;
  padding: 3px 6px;
  display: block;
  text-align: center;
}

nav ul li a:hover {

  background-color: rgb(231, 154, 37);
}

nav ul li a.activo {

  background-color: rgb(231, 154, 37);
}

footer {
  background-color: rgb(231, 174, 120);
  color: rgb(131, 86, 43);
  text-align: center;
  padding: 2px;
  margin-top: 10px;
  font-size: small;
}


.novedades p {
  font-size: 18px;
}


.productos {
  border: 1px solid rgb(161, 85, 9);
  border-radius: 10px;
  padding: 16px;
  margin: 16px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.productos .info h4 {

  color: rgb(161, 85, 9);
  font-weight: 500;
  font-style: italic;
  border-bottom: 1px solid rgb(161, 85, 9);
  padding-bottom: 10px;
}

.productos .info p {
  font-size: 12px;
}

.productos img {
  border-radius: 100px;
  display: block;
  max-width: 225px;
  box-shadow: 0 0 10px rgb(161, 85, 9)
}

.productos:nth-child(even) {
  flex-direction: row-reverse;
}


.historia {
  font-size: 15px;
}

.historia h2 {

  font-size: 30px;
}

.personas {
  display: flex;
  justify-content: space-between;
}

.persona {
  border: 1px solid rgb(161, 85, 9);
  border-radius: 10px;
  width: 18%;
  text-align: center;
  padding: 13px;
  box-sizing: border-box;


}

.persona h5 {
  color: rgb(161, 85, 9)
}

.persona h6 {
  color: rgb(161, 85, 9)
}


.persona img {

  border-radius: 50%;

  max-height: 25%;
  box-shadow: 0 0 15px rgb(161, 85, 9)
}

.persona p {
  font-size: 13px;

}